/* ボディー全体のスタイル設定 */
body {
  font-family: 'Arial', sans-serif; /* 見栄えの良いフォント */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ヘッダーとフッターのスタイル設定 */
header, footer {
  background-color: #0068B7; /* 色の設定 */
  color: white;
  padding: 30px 200px; /* 上下の余白30px、左右の余白200px */
  width: 100%;
  box-sizing: border-box;
}

/* コンテンツエリアのスタイル設定 */
.main-content {
  text-align: center; /* 中央揃え */
  padding: 30px 200px; /* 上下の余白30px、左右の余白200px */
}

/* h1とh2のスタイル設定 */
h1, h2 {
  color: #0068B7; /* 文字カラー */
  font-weight: bold; /* 太文字 */
}

h1 {
  font-size: 32px; /* 文字サイズ */
}

h2 {
  font-size: 16px; /* 文字サイズ */
}
